
		body {
			background-color: rgba(214, 219, 245, 0.322);
		}

		.h1 {
			color: rgb(39, 39, 39);
			font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		}

		a{
			color: #2966eb;
			font-weight: bold;
			text-decoration: none;
		}

		.bi-star-fill {
			color: rgb(255, 184, 28);
		}

		.avatar {
			height: 30px;
		}